* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: rgb(72, 0, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    height: 140px;
}

input {
    height: 30px;
    padding: 15px;
    width: 300px;
    margin: 10px;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 10px;
}

input::placeholder {
    color: rgb(97, 97, 97);
}

.links {
    display: flex;
    gap: 50px;
    position: absolute;
    left: 3%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

a:hover {
    text-decoration: underline;
}

.menu2 {
    background-color: rgba(72, 0, 155, 0.791);
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
}

.links2 {
    display: flex;
    gap: 30px;
    position: relative;
    text-align: center;
}

#extraContent {
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px 0;
}

.forms-container {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    width: 1000px;
    margin: auto;
    height: 900px;
    text-align: center;
    margin-top: 100px;
    box-shadow: 5px 5px 10px 5px rgba(128, 128, 128, 0.508);
}

.forms {
    margin-bottom: 15px;
    font-family: sans-serif;
    text-align: left;
    padding-left: 20px;
}

.coment {
    display: flex;
}

.footer {
    background-color: rgb(72, 0, 155);
    height: 100px;
    text-align: center;
    color: white;
    align-items: center;
    padding-top: 50px;
    margin-top: 150px;
}